name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened] # these are the defaults - synchronize means 'commits pushed to PR'

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  golang-ci:
    permissions:
      contents: read
      actions: read
      security-events: write
    uses: cccteam/github-workflows/.github/workflows/golang-ci.yml@v5.19.2
    with:
      golangci-lint-version: 'v2.4.0'
      build-tags: '["","skipAuth"]'

  semantic-titles:
    uses: cccteam/github-workflows/.github/workflows/semantic-pull-request-title.yml@v5.19.2
